otp_path: "/usr/local/lib/erlang"
apps_dirs:
  - "apps/*"
deps_dirs:
  - "lib/*"
  - "deps/*"
diagnostics:
  enabled:
    - crossref
    - dialyzer
    - bound_var_in_pattern
    - compiler
    - elvis
    - unused_includes
    - unused_macros
  disabled:
include_dirs:
  - "include"
  - "deps/*/include"
  - "_build/default/lib"
incremental_sync: true
lenses:
  enabled:
    - ct-run-test
    - function-references
    - server-info
    - show-behaviour-usages
    - suggest-spec
% macros:
%   - name: DEFINED_WITH_VALUE
%     value: 42
%   - name: DEFINED_WITHOUT_VALUE
% code_reload:
%   node: node@example